---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import PhotoWithCap from '../components/PhotoWithCap.astro';
import Kids from '../Images/Kids.png';
import HummingBird from '../Images/HummingBird.png';
import Sky from '../Images/Sky.png';
---

<Layout title="Kerry Townley-Smith">
	<main>
		<h1 class="mx-auto text-center">Welcome <span class="text-gradient">Kerry!</span></h1>
		<div class="w-full flex flex-row gap-4">
			<div class="w-1/4 flex flex-col gap-4">
				<PhotoWithCap href="/post" title="Time Capsule" image={Kids} body="A relic last used at Isabelle's middle school graduation."/>
				<PhotoWithCap href="/post" title="Time Capsule" image={Kids} body="A relic last used at Isabelle's middle school graduation."/>
			</div>
			<div class="w-1/2 flex flex-col pt-10 gap-4">
				<PhotoWithCap href="/post" title="HummingBird" image={HummingBird} body="A hummingbird in his usual habitat."/>
				<PhotoWithCap href="/post" title="HummingBird" image={HummingBird} body="A hummingbird in his usual habitat."/>
			</div>
			<div class="w-1/4 flex flex-col gap-4">
				<PhotoWithCap href="/post" title="Today In Wood Canyon" image={Sky} body="My daily canyon observations"/>
				<PhotoWithCap href="/post" title="Today In Wood Canyon" image={Sky} body="My daily canyon observations"/>
			</div></div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 100vw;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
